<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>活動列表</title>
    <style>
    </style>
</head>
<body>
    <h1>活動列表</h1>
    <ul>
        {% for campaign in campaigns %}
            <li>
                <strong>{{ campaign.Title }}</strong> - 
                <em>{{ campaign.StartDate }} 至 {{ campaign.EndDate }}</em><br>
                <img src="{{ campaign.ImageURL }}" alt="活動圖片" class="campaign-image"><br>
                <p>點閱數: {{ campaign.HitRate }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
